.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.person_mes{
	height: 120px;
	background: #fff;
	margin: 10px 0;
}
.self_img{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	float: left;
	margin:15px 30px;
	background: url(image/touxiang.png) no-repeat center/100%;
	position: relative;
	border:1px solid #ccc;
}
.make_name{
	float:left;
	width: 350px;
	height: 90px;
	margin-top: 15px;
}
.make_name>li{
	width: 100%;
	height: 45px;
	line-height: 45px;
}
.name_user{
	font-size: 18px;
	line-height: 45px;
	color:#333;
	display: inline-block;
	height: 45px;
	margin-right: 10px;
	font-weight: 600;
}
.user_job{
	color: #0089f1;
    height: 45px;
    line-height: 45px;
    display: inline-block;
}
.user_job>img{
	vertical-align: text-top;
}
.comp_num{
	font-size: 16px;
}
.comp_num:nth-child(1){
	display: inline-block;
	margin-right: 15px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
}
.account_title{
    height: 54px;
    padding-left:20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 18px;
}
.from_cont{
	background-color: #fff;
}
.form-horizontal{
	background-color: #fff;
}
.form-horizontal .from_box{
	margin:20px 0 0;
} 
.form-horizontal .form_boxa{
	margin-top: 30px;
}
.input_box{
	position: relative;
	padding-left: 0;
}
.input_box input{
	padding-right: 30px;
}
label{
	color: #666;
	font-weight: 400;
	font-size: 14px;
	min-width: 150px;
}
.tan_icon{
	position: relative;
	left: -4px;
	top: -2px;
}
.show_img{
	position: absolute;
	right: 28px;
	top: 13px;
	cursor: pointer;
}
.stre_box{
	padding-top: 12px;
}
.streng_box{
	width: 22%;
    height: 10px;
    background: #ccc;
    float: left;
    margin-right: 3%;
    border-radius: 5px;
    position: relative;
}
.streng_box:nth-child(1){
    background: #cce7fc;
}
.streng_box:nth-child(2){
    background: #7fc4f8;
}
.streng_box:nth-child(3){
    background: #33a1f4;
}
.streng_box:nth-child(4){
    background: #0089f1;
}
.streng_box span{
	position: absolute;
    color: #0089f1;
    left: 40%;
    top: 14px;
    font-size: 14px;
}
.error_text{
	color: #ec3b3b;
	position: absolute;
	top: 36px;
	display: none;
	font-size: 12px;
}
.upload_size{
	color:#0089f1;
	font-size: 12px;
}
.save,.cancel{
	float: right;
	width: 90px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	margin-top: 7px;
	color: #fff;
	background-color: #0089f1;
	border: 1px solid #0089f1;
	margin-right: 10px;
}
.cancel{
	color: #666;
	background-color: #eee;
	border: 1px solid #dcdcdc;
}
.reset_btn{
	position: absolute;
	right: 52px;
	top: 10px;
	cursor: pointer;
	display: none;
}
.changeImg{}