.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
}
.account_title{
    height: 50px;
    padding:0 20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 16px;
}
.save,.cancel{
	float: right;
	width: 80px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	margin-top: 7px;
}
.save{
	color: #fff;
	background-color: #0089f1;
	border: 1px solid #0089f1;
}
.cancel{
	color: #666;
	background-color: #eee;
	margin-right: 10px;
	border: 1px solid #dcdcdc;
}
.from_cont{
	background-color: #fff;
	padding: 24px 0 30px;
}
.form-horizontal{
	background-color: #fff;
}
.form-horizontal .from_box{
	margin:20px 0 0;
	position: relative;
} 
.form-horizontal .form_boxa{
	margin-top: 0;
}
label{
	color: #666;
	font-weight: 400;
}
/*.input_wid select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    background: url("image/xiaxuan.png");
    background-position: right center;
    padding-right: 0 \9;
    background: none \9;
}
select::-ms-expand { display: none; }*/
.input_box{
	padding-left: 0;
	position: relative;
}
.input_box input{
	padding-right: 20px;
}
.error_cont{
	color:#ec1515;
	font-size: 12px;
	position: absolute;
	display: none;
}
.distpick{
	padding:0;
}
.input_width{
	width: 33.3%;
}
/*设置placeholder样式*/
.form-control::-webkit-input-placeholder { 
    color:#ccc;
} 
.form-control:-moz-placeholder {
   color:#ccc;
} 
.form-control::-moz-placeholder { 
   color:#ccc;
}
.form-control:-ms-input-placeholder { 
   color:#ccc;
}
select::-webkit-input-placeholder { 
    color:#ccc;
} 
select:-moz-placeholder {
   color:#ccc;
} 
select::-moz-placeholder { 
   color:#ccc;
}
select:-ms-input-placeholder { 
   color:#ccc;
}
.control-label em{
	color: #e22;
	display: inline-block;
	margin-left: 4px;
}
.upload_box{
	height: 60px;
	cursor: pointer;
	padding-top: 17px;
	box-sizing: border-box;
}
.upload_box>img{
		display: inline-block;
	margin-right: 10px;
}
.upload_box>span{
	color:#0089f1;
}
.orgin_mes,.http_mes{
	width: 250px;
    height: 90px;
    padding: 8px;
    box-sizing: border-box;
    background: #f7f7f7;
    border-radius: 3px;
    border: 1px solid #eee;
    position: absolute;
    z-index: 50;
    top: -92px;
    left: 7%;
    display: none;
}
.http_mes{
	height: 52px;
	top: -54px;
	left: 9%;
}
.orgin_mes p,.http_mes p{
	font-size: 14px;
	color: #333;
	line-height: 18px;
}
.xiejiao{
	position: absolute;
	z-index: 60;
	left: 15px;
	top: 87px;
}
.xiej{
	position: absolute;
	z-index: 60;
	left: 15px;
	top: 49px;
}
.reset_img{
	position: absolute;
	right: 18px;
	top: 10px;
	cursor: pointer;
	display: none;
}
@media screen and (max-width: 1366px){
	.orgin_mes{
		left: 3%;
	}
	.http_mes{
		left: 6%;
	}
}

.alert_hint{
	text-align: center;
	position: fixed;
    top: 105px;
    left: 0px;
	z-index: 100;
	width: 100%;
}
.alert_box{
	background: #000;
	opacity: 0.6;
	font-size: 14px;
	color: #fff;
	line-height: 36px;
	height: 36px;
	padding:0 36px; 
	display: inline-block;

}