.main{
	background: #f5f6f6;
}
.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
}
.account_title{
    height: 50px;
    padding:0 10px 0 20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.acco_title{
	border:none;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 16px;
}
.add_title{
	padding-left: 20px;
	border-left:0;
	color: #333;
}
.from_left{
	text-align: center;
	min-width: 500px;
	border-right: 1px solid #e7e7e7;
}
.account_box{
	height: 250px;
	border-bottom: 1px solid #e7e7e7;
}
.top_name{
	position: relative;
}
.add_name{
	margin-top: 20px;
}
.second{
	display: inline-block;
	margin-right: 140px;
	cursor: pointer;
	position: relative;
}
.dele_img{
	position: absolute;
	right: -10px;
    top: -4px;
    display: none;
}
.edit{
	position: absolute;
	right: 50px;
	cursor: pointer;
	color: #0089f1;
	top:0;
}
.add_person{
	display: inline-block;
	color: #0089f1;
	cursor: pointer;
	position: relative;
}
.left_from{
	border:none;
}
.acco_mes{
	margin-top: 0;
	padding-top: 50px;
    box-sizing: border-box;
}
.suc_back{
	display: none;
}
.back{
	color: #ec3b3b;
	position: absolute;
	right: 95px;
	cursor: pointer;
	top: 0;
}

.handle_box{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	background: rgba(0,0,0,0.5);
	z-index: 200;
	display: none;
}
.handle_con{
	width: 600px;
	height: 650px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -325px;
	margin-left: -300px;
	background: #fff;
	border-radius: 4px;
}
.handle_title{
	width: 100%;
	height: 56px;
	padding:0 30px;
	box-sizing: border-box;
	background: #edf7fd;
}
.handle_title span{
	float: left;
	font-size: 24px;
	color: #666;
	line-height: 24px;
	margin-top: 16px;
}
.handle_title img{
	float: right;
	margin-top: 18px;
	cursor: pointer;
}
.handle_cont{
    width: 100%;
    height: 510px;
    margin-bottom: 15px;
}

.des_hand,.cert_hand{
	display: inline-block;
	width: 108px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
}
.des_hand{
	color: #666;
	background-color: #eee;
	border: 1px solid #dcdcdc;
    margin-right: 40px;
    margin-left: 160px;
}
.cert_hand{
	color: #fff;
	background-color: #0089f1;
	margin-right: 10px;
	border: 1px solid #0089f1;
}
.hand_left{
	float: left;
	width: 400px;
	height: 510px;
	box-sizing: border-box;
	border-right: 1px solid #e7e7e7;
	padding:15px 0 0 20px;
}
.hand_search{
	width: 100%;
	height: 32px;
	margin-bottom: 20px;
	position: relative;
	padding:0 25px;
	box-sizing: border-box;
}
.hand_search input{
	width: 100%;
	height: 32px;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	padding:0 30px 0 8px;
	line-height: 32px;
}
.hand_search img{
	position: absolute;
	top: 7px;
	right: 30px;
}
.classify_box{
	width: 100%;
	height: 453px;
	padding-left: 25px;
	box-sizing: border-box;
	overflow: auto;
}
.branch{
	width: 100%;
	padding-right: 30px;
	box-sizing: border-box;
}
.branch_ul{
	display: none;
}
.branch li,.branch_ul li{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.branch li img{
	margin-right: 4px;
}
.branch li span{
	font-size: 16px;
}
.branch_ul{
	width: 100%;
	overflow: auto;
}
.branch_ul li{
	padding-left: 40px;
	box-sizing: border-box;
}
.branch_ul li img{
	float: right;
	margin-top: 6px;
}
.hand_right{
	float: right;
	width: 200px;
	height: 510px;
	padding:10px 20px 0;
	box-sizing: border-box;
	overflow: auto;
}
.right_title{
	font-size: 14px;
	color: #999;
	line-height: 30px;
	height: 30px;
	margin:0;
}
.right_ul{
	width: 100%;
	height: auto;
}
.right_li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
.right_li img{
    margin-top: 6px;
	float: right;
	cursor: pointer;
}
.right_img{
	cursor: pointer;
}
.change_name{
	display: inline-block;
	margin-right: 5px;
	padding-top: 7px;
}
.change_img{}