.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
}
.account_title{
    height: 50px;
    padding:0 20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 16px;
}
.from_cont{
	background-color: #fff;
}
.form-horizontal .from_box{
	padding:20px 0;
	margin: 0;
} 
label{
	color: #666;
	font-weight: 400;
	min-width: 130px;
}
.input_box{
	position: relative;
	padding-left: 0;
}
.search{
    display: inline-block;
	width: 80px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #666;
	background-color: #eee;
	margin-left: 30px;
	border: 1px solid #dcdcdc;
}
.reset_img{
	position: absolute;
	right: 22px;
	top: 10px;
	cursor: pointer;
	display: none;
}
.table{
	margin: 0;
	border-bottom: 1px solid #ddd;
}
.thead{
	background-color:#ecedef; 
}
thead>tr>th{
	border-right:1px solid #fff;
}
.table>thead>tr,.table>tbody>tr{
	height: 44px;
}
.table>tbody>tr:hover{
	background: #edf8fe;
}
.table>thead>tr>th{
	color: #666;
	border-bottom: none;
}
.table>thead>tr>th,.table>tbody>tr>td{
	vertical-align: middle;
	padding:0 0 0  20px;
	/*text-align: center;*/
}
.botm_nav{
	margin-top: 30px;
	height: 100px;
}
.func_btn{
	float: left;
	width: 80px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #0089f1;
	margin-left: 20px;
	border: 1px solid #0089f1;
	padding: 0;
}
.navigation{
	float: right;
}
.pagination{
	margin: 0;
}
.skip_num{
	float: right;
	margin:0 20px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
}
.jump_num{
	display: inline-block;
	width: 42px;
	height: 42px;
	border: 1px solid #efefef;
	box-sizing: border-box;
	vertical-align: middle;
	margin:0 2px;
	text-indent: 5px;
}
.preview{
	color: #0089f1;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	cursor: pointer;
}
.preview{
	margin-right: 20px;
}
.pagination .page_num{
	background: #0089f1;
	color: #fff;
}
.cont_box{
	background: url(../commons/image/date.png) no-repeat 96%;
	cursor: pointer;
	padding-right: 5px;
}
