.main{
	background: #f5f6f6;
}
.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
	padding-bottom: 30px;
}
.account_title{
    height: 50px;
    padding:0 20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.acco_title{
	border:none;
	height: 40px;
	line-height: 40px;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 16px;
}
.add_title{
	padding-left: 10px;
	border-left:none;
	color: #333;
}
.from_con{
	padding:10px 10px 10px 20px;
	box-sizing: border-box;
}
.table{
	margin: 0;
	border: 1px solid #e7e7e7;
}
.thead{
	background-color:#ecedef; 
}
thead>tr>th{
	border-right:1px solid #fff;
}
.table>thead>tr,.table>tbody>tr{
	height: 44px;
}
.table>thead>tr>th{
	color: #666;
	border-bottom: none;
}
.table>thead>tr>th,.table>tbody>tr>td{
	vertical-align: middle;
	border-right: 1px solid #e7e7e7;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.table>.thead>tr{
	background: #f6f4f5;
}
.table>thead>tr>.table_td,.table>tbody>tr>.table_td{
	background: #f6f4f5;
	color: #666;
}
.box_left{
	width: 49%;
	float: left;
}
.box_right{
	width: 50%;
	float: right;
}
.acco_mes{
	padding:20px;
	box-sizing: border-box;
}
.file_box{
	width: 100%;
	border:1px solid #e7e7e7;
}
.file_name{
	border-bottom: 1px solid #e7e7e7;
	padding-left: 20px;
}
.file_name p{
	font-weight: 600;
	margin:10px 0;
}
.file_name div{
	color: #999;
	min-height: 60px;
	font-size: 14px;
	text-indent: 14px;
}
.file_name img{
	margin-right: 10px;
}
.file_name span{
	color: #0089f1;
	display: inline-block;
	text-decoration: underline;
	font-size: 14px;
}
.one_box{
	height: 109px;
}
.two_box{
	height: 329px;
}
.three_box{
	height: 197px;
}