.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
}
.account_title{
    height: 54px;
    padding-left:20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 18px;
}
.edit,.cancel{
	float: right;
	width: 80px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	margin: 9px 10px 7px 0;
}
.cancel{
	color: #666;
	background-color: #eee;
	border: 1px solid #0089f1;
	display: none;
}
.edit{
	color: #fff;
	background-color: #0089f1;
	margin-right: 10px;
	border: 1px solid #dcdcdc;
}
.from_cont{
	background-color: #fff;
}
.form-horizontal{
	background-color: #fff;
}
.form-horizontal .from_box{
	margin:20px 0 0;
} 
.form-horizontal .form_boxa{
	margin-top: 24px;
}
label{
	color: #666;
	font-weight: 400;
}
.control-label em{
	color: #e22;
	display: none;
}
.upload_size{
	color:#0089f1;
}
.upload_box{
	height: 60px;
	cursor: pointer;
	padding-top: 17px;
	box-sizing: border-box;
}
.upload_box>img{
	display: inline-block;
	margin-right: 10px;
}
.upload_box>span{
	color:#0089f1;
}
.form-horizontal .from_conf{
	margin:0;
}
.reset_img{
	position: absolute;
	right: 18px;
	top: 10px;
	cursor: pointer;
	display: none;
}
.input_box{
	position: relative;
}
.input_box input{
	padding-right: 20px;
}
.immed_set{
	display: inline-block;
	padding-top: 7px;
}
.radio_box{
	padding-top: 7px;
}
.radio_box input{
	display: inline-block;
	margin-right: 5px;
}
.radio_box span{
	font-size: 16px;
	margin-right: 20px;
	display: inline-block;
}