
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust:none;/*chrome下9px字体问题*/
}
body{background-color: #fff;font-family: '微软雅黑';}
header{
	width: 100%;
	height: 95px;
}
.log_content{
	padding:0;
	width: 100%;
}
.log_content img{
	width: 100%;
}
.top_nav{
	height: 78px;
	width: 1200px;
	margin: 0 auto;
}
.top_bg{
	width: 1250px;
	height: 17px;
	margin:0 auto;
	background: url(image/top-bg.png) no-repeat center/100%;
}
.icon_img{
	float: left;
	margin: 12px 20px 12px 0;
}
.title{
	float: left;
	font-size: 26px;
	line-height: 78px;
	font-weight: 600;
	color:#0089f1;
	margin-right: 32px;
}
.reg_acco{
   font-size: 20px;
   color: #999;
   float: left;
   line-height: 20px;
   padding-left: 32px;
   border-left: 1px solid #cfcfcf;
   margin-top: 29px;
}
.login_btn{
	height: 34px;
	float: right;
	margin:27px 0;
	color: #0089f1;
	font-size: 18px;
	cursor: pointer;
}
.registed{
	float: right;
	font-size: 18px;
	color: #999;
	line-height: 78px;
}

footer{
	width: 100%;
	height: 60px;
	background: #e9e9e9;
	left: 0;
	bottom: 0;
	margin-top: 60px;
}
.foot_nav{
	width: 680px;
	height: 60px;
	margin:0 auto;
	line-height: 60px;
	color: #333;
	text-align: center;
}




