.main{
	background-color: #f5f6f6;
}
.basic_right{
	background: #fff;
	padding: 0px;
	box-sizing: border-box;
}
.account_mes{
	background-color: #fff;
	width: 100%;
}
.account_title{
    height: 50px;
    padding-left:20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 16px;
}
.edit,.appro,.canc,.save{
	float: right;
	width: 80px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	margin: 7px 10px 7px 0;
	color: #fff;
	background-color: #0089f1;
	border: 1px solid #0089f1;
}
.edit,.canc,.save{
	display: none;
}
.canc{
	color: #666;
    background-color: #eee;
    border: 1px solid #dcdcdc; 
}
.from_cona{
	padding:15px 15px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #e7e7e7;
}
.file_box{
	margin-right: 20px;
	padding-top: 10px;
	position: relative;
	display: inline-block;
}
.btn_file{
	display: inline-block;
	cursor: pointer;
}
.error_img{
	position: absolute;
	left: 25px;
	top: 6px;
	cursor: pointer;
}
.file_text,.file_hint{
	color: #0089f1;
	font-size: 14px;
}
.file_hint{
	font-size: 12px;
}
.appor_grade label{
	font-size: 14px;
	min-width: 150px;
}
.input_box{
    padding-left: 0;
    position: relative;
}
.from_con{
	margin-top: 0;
}
.segmentation{
	height: 10px;
	background: #f5f6f6;
}
.file_img{
	width: 30px;
	margin-right: 15px;
}
.file_name{
	color: #0089f1;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
}
.upload_box{
	height: 50px;
	border:1px solid #e7e7e7;
	display: inline-block;
	padding: 0 20px;
}




.handle_box{
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	background: rgba(0,0,0,0.5);
	z-index: 200;
	display: none;
}
.handle_con{
	width: 600px;
	height: 650px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -325px;
	margin-left: -300px;
	background: #fff;
	border-radius: 4px;
}
.handle_title{
	width: 100%;
	height: 46px;
	padding:0 15px;
	box-sizing: border-box;
	background: #edf7fd;
}
.handle_title span{
	float: left;
	font-size: 18px;
	color: #666;
	line-height: 46px;
}
.handle_title img{
	float: right;
	margin-top: 16px;
	cursor: pointer;
	width: 14px;
}
.handle_cont{
    width: 100%;
    height: 510px;
    margin-bottom: 15px;
}

.des_hand,.cert_hand{
	display: inline-block;
	width: 108px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
}
.des_hand{
	color: #666;
	background-color: #eee;
	border: 1px solid #dcdcdc;
    margin-right: 40px;
    margin-left: 160px;
}
.cert_hand{
	color: #fff;
	background-color: #0089f1;
	margin-right: 10px;
	border: 1px solid #0089f1;
}
.hand_left{
	float: left;
	width: 400px;
	height: 510px;
	box-sizing: border-box;
	border-right: 1px solid #e7e7e7;
	padding:15px 0 0 20px;
}
.hand_search{
	width: 100%;
	height: 32px;
	margin-bottom: 20px;
	position: relative;
	padding:0 25px;
	box-sizing: border-box;
}
.hand_search input{
	width: 100%;
	height: 32px;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	padding:0 30px 0 8px;
	line-height: 32px;
}
.hand_search img{
	position: absolute;
	top: 7px;
	right: 30px;
}
.classify_box{
	width: 100%;
	height: 453px;
	padding-left: 25px;
	box-sizing: border-box;
	overflow: auto;
}
.branch{
	width: 100%;
	padding-right: 30px;
	box-sizing: border-box;
}
.branch_ul{
	display: none;
}
.branch li,.branch_ul li{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.branch li img{
	margin-right: 4px;
}
.branch li span{
	font-size: 16px;
}
.branch_ul{
	width: 100%;
	overflow: auto;
}
.branch_ul li{
	padding-left: 40px;
	box-sizing: border-box;
}
.branch_ul li img{
	float: right;
	margin-top: 6px;
}
.hand_right{
	float: right;
	width: 200px;
	height: 510px;
	padding:10px 20px 0;
	box-sizing: border-box;
	overflow: auto;
}
.right_title{
	font-size: 14px;
	color: #999;
	line-height: 30px;
	height: 30px;
	margin:0;
}
.right_ul{
	width: 100%;
	height: auto;
}
.right_li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
.right_li img{
    margin-top: 6px;
	float: right;
	cursor: pointer;
}
.right_img{
	cursor: pointer;
}
.change_img{}


