.right_cont{
	padding: 0;
	background-color: #f5f6f6;
}
.input_mes{
	height: 38px;
	background-color: #fff;
	line-height: 38px;
	padding-left: 20px;
	box-sizing: border-box;
	color: #666;
	border-bottom: 1px solid #e7e7e7;
	font-size: 14px;
}
.account{
	color: #0089f1;
}
.account_mes{
	background-color: #fff;
	margin-top: 10px;
	width: 100%;
}
.account_title{
    height: 50px;
    padding:0 20px;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    line-height: 50px;
}
.delete{
	color: #ec3b3b;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	cursor: pointer; 
}
.title{
	color: #0089f1;
    font-weight: 500;
    font-size: 18px;
    float: left;
    padding-left: 10px;
    line-height: 18px;
    border-left: 2px solid #0089f1;
    margin-top: 16px;
}
.botm_nav{
	margin-top: 30px;
	height: 100px;
}
.func_btn{
	float: right;
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #0089f1;
	border: 1px solid #0089f1;
	padding: 0;
}
.dele_btn{
	color: #666;
	background-color: #eee;
	border: 1px solid #dcdcdc;
	margin-right: 20px;
}
.new_add{
	float: left;
	width: 100px;
}
.new_data{
	color: #0089f1;
	float:left;
	line-height: 40px;
	margin-left: 20px;
}
.table_box{
	padding:20px 35px 0;
	box-sizing: border-box;
}
table{
	border:1px solid #e7e7e7;  
    border-collapse:collapse;  
    width:100%;
}
table td,table th{
	width: 25%;
	height: 44px;
	box-sizing: border-box;
	border:1px solid #e7e7e7;
	text-align: center;
	color: #333;
}
thead{
	background: #ecedef;
}